/* Fonts */
/* Colors */
.navbar {
  height: 80px;
  padding: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .fridaEyebrow {
  background-image: url(/images/frida-kahlo-avatar-eyebrow-1.png);
  width: 70px;
  height: 70px;
}

.navbar .fridaEyebrow:hover {
  background-image: url(/images/frida-kahlo-avatar-eyebrow-2.png);
  width: 70px;
  height: 70px;
}

.navbar .navbarTitle {
  font-family: Poppins;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.navbar .mainMenu {
  list-style: none;
  font-family: Poppins;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 20px;
}

.navbar .mainMenu li {
  display: inline;
}

.navbar .mainMenu li a:link {
  text-decoration: none;
}

.navbar .mainMenu li a:visited {
  color: #000000;
}

.navbar .mainMenu li a:hover {
  color: #ff0c38;
}

.navbar .mainMenu li a:active {
  color: #d80027;
}

.mainContent {
  background-color: #f1f1f2;
  height: 75vh;
  font-family: Poppins;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.mainContent #quoteDisplay {
  padding: 24px;
  font-size: 1rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
}

.mainContent .quoteBoard {
  width: 60%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContent .fridaFlower {
  width: 170px;
  height: 178px;
  margin-bottom: 10px;
}

.mainContent h1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: -10px;
  font-size: 1.9rem;
}

.mainContent p {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-top: -30px;
  text-align: center;
}

.mainContent .mainButton {
  cursor: pointer;
  color: #ffffff;
  height: 50px;
  font-family: Poppins;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #4c5699;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 20px 0 20px;
}

.mainContent .mainButton:hover {
  background-color: #676fb2;
}

.footerCredits {
  width: 100%;
  text-align: center;
  margin-top: -20px;
}

.footerCredits p {
  display: inline-block;
  font-family: Poppins;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.footerCredits .footerHeart {
  color: #d80027;
  font-size: 0.9rem;
}

@media (max-width: 400px) {
  .navbar {
    height: 110px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .mainContent h1 {
    font-size: 1rem;
    margin: 0;
  }
  .mainContent p {
    font-size: 0.8rem;
    margin-top: 1px;
  }
  .mainContent .quoteBoard {
    margin-top: -80px;
    width: 320px;
  }
  .footerCredits {
    margin-top: -120px;
    margin-bottom: 0px;
    padding-top: 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f2;
}
/*# sourceMappingURL=main.css.map */