@media  (min-width: 450px) and (max-width: 1024px){

.navbar{
        height: 110px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

.mainContent{
    height: 70vh
}

.mainContent h1{
    font-size: 1rem;
    margin: 0;    
}

.mainContent p{
    font-size: 0.8rem;
    margin-top:1px;
}

.mainContent .quoteBoard{
    margin: 20px;
    width: 90%;
    padding: 30px;
}

.footerCredits{
    
    
 
}

}