.navbar{
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .fridaEyebrow{
        background-image: url(../images/frida-kahlo-avatar-eyebrow-1.png);
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }

    .fridaEyebrow:hover{
        background-image: url(../images/frida-kahlo-avatar-eyebrow-2.png);
        width: 70px;
        height: 70px; 
    }

    .navbarTitle{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .mainMenu{
        list-style: none;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 20px;
        padding: 0px;
        margin: 0;
    }

    .mainMenu li{
        display: inline;
    }

    .mainMenu li a:link{
        text-decoration: none;
    }

    .mainMenu li a:visited{
        color: #000000;
    }

    .mainMenu li a:hover{
        color: $main-link-color-hover;   
        transition: all 0.2s ease; 
    }

    .mainMenu li a:active{
        color: $main-link-color-active;
    }
}

