/* Fonts */
$main-font: Poppins;
$title-font-size: 1.5rem; /*24 px*/
$sub-title-font-size: 0.8rem; /*16 px*/
$button-font-size: 0.9rem; /*14px*/
$footer-font: 0.7rem; /*11.2*/

/* Colors */
$main-link-color-hover: #ff0c38;
$main-link-color-active: #d80027;
$main-button-color: #4c5699;
$hover-button-color:  #676fb2;