@import "variables";
@import "navbar";
@import "mainContent";
@import "footer";
@import "desktopVersion";



body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f2;
    font-family: $main-font;
}